:root {
    --black: #171717;
    --white: #F9F9FF;
    --green: #04FF95;
    --blue: #020BDF;
    --text-font-family: "Montserrat", sans-serif;
    --text-font-weight-black: 900;
    --text-font-weight-bold: 700;
    --text-font-weight-semibold: 600;
    --text-font-weight-medium: 500;
    --text-font-weight-regular: 400;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    50% {
        transform: rotate3d(1, 1, 0, 720deg);
    }
}

@keyframes parallaxScroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px);
    }
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--black);
    font-family: var(--text-font-family);
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden; 
}


.background-effects {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    margin-top: -20px;
    pointer-events: none;
}

.background-effect {
    width: 100%;
    height: 100%; 
}


.contacts, .menu, .main__title, .row, .nav-bar {
    z-index: 1; 
}


.contacts {
    width: 100%;
    max-width: 1174px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 8px auto;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1174px;
    max-height: 107px;
    padding: 0;
}

.social-icons {
    display: flex;
    gap: 10px; 
}

/* Соц-сети */
.social-icons a img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}
.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.email p{
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: var(--text-font-weight-regular);
    line-height: 24px;
    color: var(--white);
    margin: 0;
}

/* Почта */
.email a img {
    width: 24px;
    height: 24px;
}

/* Навигационная панель */
.nav-bar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 1174px;
    height: 60px;
    background-color: var(--white);
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar .logo a{
    background-color: var(--blue);
    color: var(--white);
    font-size: 48px;
    font-weight: var(--text-font-weight-black);
    text-align: center;
    padding: 10px 24px;
    border-radius: 10px;
    line-height: 1.5;
}

/* Стили для ссылок навигации */
.nav-bar li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: var(--text-font-weight-semibold);
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-bar li a:hover {
    color: var(--green);
}

.nav-bar li.no-hover a:hover {
    color: var(--white);
}

.main__title {
    margin-top: 302px;
    max-width: 1174px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
}
.row div{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 20px;
}
.row a{
    font-family: var(--text-font-family);
    font-size: 24px;
    font-weight: var(--text-font-weight-regular);
    color: var(--white);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.title-one, .title-two {
    font-family: var(--text-font-family);
    font-weight: var(--text-font-weight-black);
    color: var(--white);
    margin: 0;
    text-align: center;
}

.title-one {
    font-size: 135px;
    line-height: 104px;
}

.title-two {
    font-size: 183px;
    line-height: 160px;
}

/* Sponsors */

.sponsors {
    max-width: 1174px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: column;
}
.title_sponsors {
    font-family: var(--text-font-family);
    font-size: 140px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--white);
    transform: rotate(-90deg);
    transform-origin: left bottom;
    position: absolute; 
    left: -20px; 
    bottom: 0;
    top: 780px;
}

/* First sponsor */

.first-sponsor {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.it-name {
    width: 111px;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
}

.it-company {
    margin: 0;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--green);
}
.it-company-name {
    margin: 0;
}

.it-company-name a{
    text-decoration: none;
    font-family: var(--text-font-family);
    font-size: 34px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--white);
}

.icon {
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
    gap: 10px;
}

.mirror {
    position: relative;
    align-items: center;
    width: 566px;
    height: 145px;
    border-radius: 14px;
    margin-top: 20px;
    z-index: 2;
    margin-left: 160px;
    overflow: hidden;
}

.mirror-image {
    position: absolute; 
    z-index: 1;
}

.mirror p {
    position: absolute; 
    font-family: var(--text-font-family);
    font-size: 17px;
    font-weight: var(--text-font-weight-medium);
    color: var(--white);
    line-height: 25px;
    margin-left: 48px;
    margin-top: 34px;
    z-index: 2;
}

.blue-rectangle, .blue-rectangle2 {
    display: flex;
    align-items: end;
    width: 583px;
    height: 341px;
    background-color: var(--blue);
    position: absolute;
}

.blue-rectangle {
    left: 580px; 
    border-radius: 14px 0 0 14px;
}

.blue-rectangle img{
    margin-left: auto;
}

/* Second sponsor */
.second-sponsor2 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 270px;
    width: 100%;
    z-index: 5;
}

.blue-rectangle2 {
    left: 160px;
    border-radius: 0 14px 14px 0;
}

.it-name2 {
    width: 111px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    align-items: flex-end;
}

.it-company2 {
    margin: 0;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--green);
}

.it-company-name2 {
    margin: 0;
}

.it-company-name2 a {
    text-decoration: none;
    font-family: var(--text-font-family);
    font-size: 34px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--white);
}

.mirror2 {
    position: relative;
    align-items: center;
    width: 566px;
    height: 145px;
    border-radius: 14px;
    margin-top: 70px;
    z-index: 2;
    right: 0;
    overflow: hidden;
    margin-left: 610px;
}

.icon2 {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    margin-right: 15px;
    gap: 10px;
}

.mirror-image2 {
    position: absolute;
    z-index: 1;
    transform: rotate(180deg);
}

.mirror2 p {
    position: absolute;
    font-family: var(--text-font-family);
    font-size: 17px;
    font-weight: var(--text-font-weight-medium);
    color: var(--white);
    line-height: 25px;
    margin-left: 52px;
    margin-top: 24px;
    z-index: 2;
    text-align: left; 
}



.triangle-sponsors {
    position: absolute;
    right: 160px;
    top: 40px;
}

/* Modern */

.modern {
    width: 1174px;
    margin: 400px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: visible;
}

.iphone {
    width: 278px; /* Фиксированная ширина */
    height: auto; /* Сохраняет пропорции */
    display: block;
    margin-left: 90px; /* Фиксированное смещение */
    margin-top: 120px;
    transform: scale(1.35); /* Масштабируем */
    z-index: 1;
    position: relative; /* Контекст для z-index */
}


.modern-background {
    position: absolute;
    top: 0;
    left: 50%; /* Центрируем по горизонтали */
    width: 130vw; /* Увеличиваем ширину вручную */
    height: 130vh; /* Увеличиваем высоту вручную */
    transform: translateX(-50%); /* Смещаем влево на половину ширины, чтобы центр совпадал с центром экрана */
    z-index: 0;
    margin-top: 120px; /* Отступ сверху */
}



.modern-title {
    margin: 0 auto;
    font-family: var(--text-font-family);
    font-size: 48px;
    font-weight: var(--text-font-weight-bold);
    color: var(--white);
    margin-bottom: 18px;
    z-index: 1;
}
.modern-text {
    margin: 0 auto;
    width: 646px;
    font-family: var(--text-font-family);
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--text-font-weight-regular);
    color: var(--white);
    z-index: 1;
}

.block-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 1174px; /* Максимальная ширина */
    margin: 200px 0 0 auto; /* Отступы сверху и справа */
    right: 0; /* Прижатие к правому краю */
    gap: 40px;
    padding-right: 50px; /* Отступ от правого края окна */
    box-sizing: border-box; /* Учитываем padding в расчет ширины */
    z-index: 1;
}
.rect-1 {
    width: 570px;
    height: 160px;
    background-color: var(--white);
    border-radius: 10px;
}
.first-string {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.first-string img{
    width: 20px;
    height: 20px;
    margin-top:  20px;
}

.first-string h2{
    margin: 0;
    margin-top:  20px;
    margin-bottom: 0;
    font-family: var(--text-font-family);
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--black);
}

.second-string {
}
.second-string p {
    width: 491px;
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--text-font-weight-regular);
    color: #6C6C72;
    margin-left: 60px;
    margin-top: 5px;
}
.rect-2 {
    width: 570px;
    height: 160px;
    background-color: var(--white);
    border-radius: 10px;
}
.rect-3 {
    width: 570px;
    height: 160px;
    background-color: var(--white);
    border-radius: 10px;
}



/* Footer */
.footer {
    width: 1174px;
    margin: 300px auto 50px auto;
    z-index: 10;
}

/* Контейнер футера */
.footer .container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;         
    width: 100%;                    
    box-sizing: border-box;    
    z-index: 10;      
}

/* About */
.about {
    width: 334px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.about h2 {
    font-family: var(--text-font-family);
    font-size: 40px;
    line-height: 24px;
    font-weight: var(--text-font-weight-black);
    color: var(--white);
    margin: 0;
}

.about p {
    width: 334px;
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--text-font-weight-regular);
    color: var(--white);
}

/* Link */
.link {
    width: 140px;
    z-index: 10;
}

.link h2 {
    font-family: var(--text-font-family);
    font-size: 25px;
    line-height: 38px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--white);
    margin: 0;
}
.link ul {

    padding: 0;
}

.link ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 12px;

}

.link li a {
    text-decoration: none;
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--text-font-weight-regular);
    color: var(--white);
    gap: 30px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.link li a:hover {
    transform: scale(1.1);
    color: var(--green);
}

/* News Letter */
.news-letter {
    width: 369px;
    z-index: 10;
}

.news-letter h2 {
    font-family: var(--text-font-family);
    font-size: 25px;
    line-height: 38px;
    font-weight: var(--text-font-weight-semibold);
    color: var(--white);
    margin: 0;
}

.news-letter p {
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: var(--text-font-weight-regular);
    color: var(--white);
}

/* Email Send */
.email-send {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.email-send__input {
    width: 290px;
    height: 30px;    
    padding: 5px;   
    margin-right: 10px; 
    border-radius: 4px;
    font-family: var(--text-font-family);
    font-size: 16px;
    line-height: 38px;
    font-weight: var(--text-font-weight-regular);
    cursor: pointer;
    z-index: 10;
    border: none;
}

.email-send__button {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--blue);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s ease;
}

.email-send__button:hover {
    transform: scale(1.2);
}

.email-send__button img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 10;
}

/* Copyright */
.copyright {
    width: 1174px;
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    margin-top: 20px;
    font-family: var(--text-font-family);
    font-size: 14px;
    color: var(--white);
    z-index: 10;
}

.copyright p {
    margin: 0 10px 0 0;
}



.rect-1, .rect-2, .rect-3 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rect-1:hover, .rect-2:hover, .rect-3:hover {
    transform: translateX(-10px) scale(1.05);
}

/* .title-two {
    position: relative;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    animation: smokeEffect 3s infinite ease;
}

.title-two::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: 150%;
    height: 150%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent);
    filter: blur(20px);
    opacity: 0.5;
    animation: moveSmoke 3s infinite linear;
}

@keyframes moveSmoke {
    0% {
        transform: translate(-20px, -20px);
    }
    50% {
        transform: translate(20px, 20px);
    }
    100% {
        transform: translate(-20px, -20px);
    }
} */


.token {
    position: relative;
    animation: float 4s ease-in-out infinite;

}

.section .block {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Когда элемент становится видимым, применяем анимацию */
.section .block.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Задержка анимации для разных блоков */
.section .block:nth-child(1) {
    animation-delay: 0.1s;
}
.section .block:nth-child(2) {
    animation-delay: 0.2s;
}
.section .block:nth-child(3) {
    animation-delay: 0.3s;
}

